@model Online_Store.ViewModels.LoginViewModel

<h2>Login</h2>
<form asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RememberMe">Remember me:</label>
        <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
        <span asp-validation-for="RememberMe" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>