
@{
    ViewData["Title"] = "AddProduct";
}

<h1>Aggiungi Prodotto</h1>
<div class="container">
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col">
                    Nome prodotto:
                </div>
                <div class="col">
                    <input type="text" name="name" />
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row">
                <div class="col">
                    Prezzo:
                </div>
                <div class="col">
                    <input type="text" name="money" />
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row">

                <div class="col">
                    <input type="submit" value="AGGIUNGI" />
                </div>
            </div>
        </div>
    </form>
</div>

