@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto nell' E-Shop più popolare di sempre</h1>
    <p>Acquista da diversi negozi e tieni traccia dei tuoi acquisti effettuati e futuri</p>
</div>
